.mt-G6-page {
    table {
        width: 100%;
        border: 1px solid #e8eaec;
        height: 300px;


        tr {
            text-align: center;
            td {
                border: 1px solid #e8eaec;
                padding: 10px;
            }
        }
    }
}