.mt-rate-page{
    .mt-rate-stars{
        list-style-type: none;
        .mt-rate-st{
            float: left;
            padding: 10px;
            
        }
        .select{
                color: rgb(245, 166, 35);
        }
        
    }
}